.App {
  margin-inline: auto;
  text-align: center;
  max-width: 600px;
  padding-inline: 20px;
}
.App * {
  transition: 0.3s;
}

.App-logo {
  height: 10vmin;
  padding-block: 1rem;
  pointer-events: none;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer {
  translate: 15px 0px;
}
.currect {
  background-color: #46b3d1;
}
.wrong {
  background-color: rgb(223, 126, 0);
}
button {
  color: white;
  background-color: #3b404c;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 15px 25px;
  font-weight: 600;
  cursor: pointer;
}
button:hover {
  border-color: white;
}
.Options button:hover {
  translate: 15px 0px;
}
.NextQuestion {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
